* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  color: #fff;
}

.submenu {
  margin-top: 40px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

input#name {
  border: none;
  outline: none;
  color: #986f38;
  padding: 10px 15px;
  border-radius: 5px;
}

#search {
  border: none;
  outline: none;
  background-color: #fff;
  color: #986f38;
  padding: 10px 15px;
  border-radius: 5px;
}
.button {
  padding: 15px 30px;
  font-size: 20px;
  color: #986f38;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 2px;
}

.button:hover {
  background-color: #44414f;
}

.board {
  margin: auto;
  margin-top: 20px;
  position: relative;
  justify-content: center;
  background-color: #e3d8d8;
  width: 1500px;
}

#table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

th {
  border: 1px solid black;
  text-align: left;
}

td {
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}
