<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/sensor"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sensor"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrisonSystem"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".PrisonMap"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".MapActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".RoomActivity"
            android:exported="false" />
        <activity
            android:name=".SwimmingPoolActivity"
            android:exported="false" />
        <activity
            android:name=".CreateAccount"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".SelectLocationActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".PrisonerPositioningSystemActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HotelPositioningSystemActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrisonTableActivity"
            android:exported="false" />
        <activity
            android:name=".LivingRoomActivity"
            android:exported="false" />
        <activity
            android:name=".LibraryActivity"
            android:exported="false" />
        <activity
            android:name=".CanteenActivity"
            android:exported="false" />
        <activity
            android:name=".GymActivity"
            android:exported="false" />
        <activity
            android:name=".LocationChartActivity"
            android:exported="false" />
        <activity
            android:name=".TestActivity"
            android:exported="false" />
    </application>

</manifest>