* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#prisons {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  height: 600px;
}

.prison {
  padding: 10px;
  width: 500px;
  height: 300px;
  background-color: #686576;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.prison > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.15;
}

#prison1 {
  border: 10px solid #44414f;
}
#prison2 {
  border: 10px solid #44414f;
  border-left: none;
}
#prison3 {
  border: 10px solid #44414f;
  border-top: none;
}
#prison4 {
  border: 10px solid #44414f;
  border-left: none;
  border-top: none;
}

.prisoner {
  padding: 5px;
  display: inline-block;
  text-align: center;
}

.prisoner > i {
  color: #fe7300;
}

.prisoner > p {
  margin: 0;
  color: #000;
  font-size: 14px;
  font-family: 'Open Sans';
}

.title {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  bottom: 5px;
  left: 50%;
  color: #e3d8d8;
  transform: translateX(-50%);
}

.link > i {
  transition: transform 0.5s ease-in-out;
}
.link > i:hover {
  transform: scale(1.5);
}
#gym-door {
  position: absolute;
  top: 50%;
  left: -100px;
  transform: translateY(-50%);
}

#library-door {
  position: absolute;
  top: 50%;
  left: -100px;
  transform: translateY(-50%);
}

#living-room-door {
  position: absolute;
  top: 50%;
  right: -100px;
  transform: translateY(-50%);
}

#canteen-door {
  position: absolute;
  top: 50%;
  right: -100px;
  transform: translateY(-50%);
}

