body {
    background-color: #e3d8d8;
}

.left {
    position: absolute;
    top: 0;
    left: 0;
}

.right {
    position: absolute;
    top: 0;
    right: 0;
}

.mid {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.trapezoid {
    border-bottom: 100px solid #44414f; /* Height of the trapezoid */
    border-left: 100px solid transparent; /* Left slant */
    border-right: 100px solid transparent; /* Right slant */
    height: 0;
    width: 80px; /* Base width of the trapezoid */
}

.rectangle {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 40px; /* Height of the rectangle */
    width: 280px; /* Width of the rectangle */
    background-color: #44414f; /* Color of the rectangle */
}

.romb {
    position: relative;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    background-color: #44414f;
    transform: rotate(45deg);
}

.prison {
    display: flex;
    width: 600px;
    height: 140px;
    position: relative;
}

.prisons {
    height: 700px;
    width: 1200px;
    border: 5px solid black;
    margin: auto auto;
    position: relative;
}

.prison-top {
    position: absolute;
    top: 90px;
    left: 300px;
    rotate: 180deg;
}

.prison-bottom {
    position: absolute;
    bottom: 90px;
    left: 300px;
}

.prison-left {
    position: absolute;
    left: -140px;
    top: 275px;
    rotate: 90deg;
}

.prison-right {
    position: absolute;
    right: -140px;
    top: 275px;
    rotate: 270deg;
}

.yard {
    background-color: #436850;
    width: 650px;
    height: 175px;
    border-radius: 50%;
    border: 10px solid #c7c8cc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.prison-bottom i {
    rotate: -45deg;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.prison-top i {
    rotate: 135deg;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.prison-left i {
    rotate: -135deg;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.prison-right i {
    rotate: 45deg;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
